<section id="register" class="form-section">
  <div class="container">
    <div class="section-header">
      <h2 class="gradient-text">Възстановяване на парола</h2>
      <p>С тестова цел. Имплементацията е критичен секюрити проблем. В реална среда ще се изпрати токен за възстановяване.</p>
    </div>
    <div class="form-container">
      @if (loading()) {
      <app-smart-loader 
        [loading]="loading()" 
        [message]="'Възстановяване на потребителска парола...'" 
        [minDuration]="300" />
      }
      @else {
      @if (errorMessage()) {
      <app-error-message 
        [errorMessage]="errorMessage()" 
        (close)="closeError()" />
      }
      <form class="auth-form" [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
          <div class="form-group">
            <label for="register-firstName">Първо име</label>
            <input type="text" id="register-firstName" formControlName="firstName"
              [class.error]="recoverPasswordForm.get('firstName')?.invalid && recoverPasswordForm.get('firstName')?.touched">
            @if (recoverPasswordForm.get('firstName')?.invalid && recoverPasswordForm.get('firstName')?.touched) {
              <div class="validator-error-message">
                @if (recoverPasswordForm.get('firstName')?.errors?.['required']) {
                  <small>Първото име е задължително.</small>
                }
                @if (recoverPasswordForm.get('firstName')?.errors?.['minlength']) {
                  <small>Първото име трябва да е поне 3 символа.</small>
                }
                @if (recoverPasswordForm.get('firstName')?.errors?.['maxlength']) {
                  <small>Първото име не може да е по-дълго от 64 символа.</small>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label for="register-lastName">Фамилия</label>
            <input type="text" id="register-lastName" formControlName="lastName"
              [class.error]="recoverPasswordForm.get('lastName')?.invalid && recoverPasswordForm.get('lastName')?.touched" autocomplete="username">
            @if (recoverPasswordForm.get('lastName')?.invalid && recoverPasswordForm.get('lastName')?.touched) {
              <div class="validator-error-message">
                @if (recoverPasswordForm.get('lastName')?.errors?.['required']) {
                  <small>Фамилията е задължителна.</small>
                }
                @if (recoverPasswordForm.get('lastName')?.errors?.['minlength']) {
                  <small>Фамилията трябва да е поне 3 символа.</small>
                }
                @if (recoverPasswordForm.get('lastName')?.errors?.['maxlength']) {
                  <small>Фамилията не може да е по-дълга от 64 символа.</small>
                }
              </div>
            }
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="register-password">Парола</label>
            <input type="password" id="register-password" formControlName="password"
              [class.error]="recoverPasswordForm.get('password')?.invalid && recoverPasswordForm.get('password')?.touched"
              (input)="checkPasswordMatch(recoverPasswordForm)" autocomplete="new-password">
            @if (recoverPasswordForm.get('password')?.invalid && recoverPasswordForm.get('password')?.touched) {
              <div class="validator-error-message">
                @if (recoverPasswordForm.get('password')?.errors?.['required']) {
                  <small>Паролата е задължителна.</small>
                }
                @if (recoverPasswordForm.get('password')?.errors?.['minlength']) {
                  <small>Паролата трябва да е поне 4 символа.</small>
                }
                @if (recoverPasswordForm.get('password')?.errors?.['maxlength']) {
                  <small>Паролата не може да е по-дълга от 16 символа.</small>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label for="register-confirm">Повтори парола</label>
            <input type="password" id="register-confirm" formControlName="confirmPassword"
              [class.error]="recoverPasswordForm.get('confirmPassword')?.invalid && recoverPasswordForm.get('confirmPassword')?.touched"
              [class.success]="passwordsMatch() && recoverPasswordForm.get('confirmPassword')?.value"
              (input)="checkPasswordMatch(recoverPasswordForm)" autocomplete="new-password">
            @if (recoverPasswordForm.get('confirmPassword')?.invalid && recoverPasswordForm.get('confirmPassword')?.touched) {
              <div class="validator-error-message">
                @if (recoverPasswordForm.get('confirmPassword')?.errors?.['required']) {
                  <small>Повторете паролата е задължителна.</small>
                }
                @if (recoverPasswordForm.get('confirmPassword')?.errors?.['minlength']) {
                  <small>Повторете паролата трябва да е поне 4 символа.</small>
                }
                @if (recoverPasswordForm.get('confirmPassword')?.errors?.['maxlength']) {
                  <small>Повторете паролата не може да е по-дълга от 16 символа.</small>
                }
                @if (!passwordsMatch() && recoverPasswordForm.get('confirmPassword')?.touched) {
                  <small>Паролите не съвпадат.</small>
                }
              </div>  
            }
          </div>
        </div>

        <div class="form-group">
        <label for="register-email">Имейл адрес</label>
        <input type="email" id="register-email" formControlName="email"
            [class.error]="recoverPasswordForm.get('email')?.invalid && recoverPasswordForm.get('email')?.touched">
        @if (recoverPasswordForm.get('email')?.invalid && recoverPasswordForm.get('email')?.touched) {
            <div class="validator-error-message">
            @if (recoverPasswordForm.get('email')?.errors?.['required']) {
                <small>Имейл адресът е задължителен.</small>
            }
            @if (recoverPasswordForm.get('email')?.errors?.['email']) {
                <small>Невалиден имейл формат.</small>
            }
            </div>
        }
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary" [disabled]="loading()">
            {{ buttonText() }}
          </button>
        </div>
      </form>
      }
    </div>
  </div>
</section>
