<header class="header">
    <div class="container">
        <nav class="nav">
            <div class="logo">
                <h1>Logo</h1>
            </div>

            <div class="mobile-menu-toggle" (click)="toggleMobileMenu()" [class.active]="isMobileMenuActive">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="nav-content" [class.active]="isMobileMenuActive">
                <ul class="nav-menu">
                    <li><a routerLink="/about">Начало</a></li>
                    <li><a routerLink="/services">Услуги</a></li>
                    @if (isLoggedIn()) {
                        <li><a routerLink="/family">Семейство</a></li>
                        <li><a routerLink="/finances">Финанси</a></li>
                        <li><a routerLink="/finance-detail">Детайли</a></li>
                        <li><a routerLink="/pages">Пейджиране</a></li>
                        <li><a routerLink="/contact">Контакти</a></li>
                    }
                </ul>
                <div class="nav-buttons">
                    @if (isLoggedIn()) {
                    <button routerLink="/profile" class="btn btn-user">Профил</button>
                    <button (click)="logout()" class="btn btn-logout">Изход</button>
                    } @else {
                    <button routerLink="/login" class="btn btn-login">Вход</button>
                    <button routerLink="/register" class="btn btn-register">Регистрация</button>
                    }
                </div>
            </div>
        </nav>
    </div>
</header>