<header class="header">
    <div class="container">
        <nav class="nav" role="navigation">
            <div class="logo" routerLink="/home" area-label="Home">
                <h1>Logo</h1>
            </div>

            <div class="mobile-menu-toggle" 
                    (click)="toggleMobileMenu()" 
                    [class.active]="isMobileMenuActive"
                    aria-label="Toggle navigation menu" 
                    [attr.aria-expanded]="isMobileMenuActive">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="nav-content" [class.active]="isMobileMenuActive">
                <ul class="nav-menu">
                    <li><a routerLink="/about">Начало</a></li>
                    <li><a routerLink="/services">Услуги</a></li>
                    @if (isLoggedIn() && !isAdmin()) {
                        <li><a routerLink="/family" routerLinkActive="active">Семейство</a></li>
                        <li><a routerLink="/finances">Финанси</a></li>
                        <li><a routerLink="/bills">Сметки</a></li>
                        <li><a routerLink="/inventories">Наличности</a></li>
                        <li><a routerLink="/contact">Контакти</a></li>
                    }
                    @if (isAdmin()) {
                        <li><a routerLink="/management">Управление</a></li>
                    }
                </ul>
                <div class="nav-buttons">
                    @if (isLoggedIn()) {
                    <button routerLink="/profile" class="btn btn-user">Профил</button>
                    <button (click)="logout()" class="btn btn-logout">Изход</button>
                    } @else {
                    <button routerLink="/login" class="btn btn-login">Вход</button>
                    <button routerLink="/register" class="btn btn-register">Регистрация</button>
                    }
                </div>
            </div>
        </nav>
    </div>
</header>