<section id="finance" class="finance-section">
  <div class="container">
    <div class="section-header">
      <h2 class="gradient-text">Финансови записи</h2>
      <div class="section-description">
        <p>Управление на финансовите транзакции и отчети</p>
        <button class="btn btn-create" routerLink="/finances/create">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none">
            <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
          </svg>
          Създай нов
        </button>
      </div>
    </div>

    @if (loading()) {
    <p>Зареждане...</p>
    }
    @else {
    @if (hasError()) {
    <app-error-message [errorMessage]="errorMessage()" (close)="closeError()" />
    }

    @if (isNotEmpty()) {
    <div class="finance-grid">
      @for (item of items(); track item.id) {
      <div class="finance-card">
        <div class="card-header">
          <h3>{{ item.title }}</h3>
          <span class="type-badge" [ngClass]="getTypeClass(item.type)">
            {{ getTypeValue(item.type) }}
          </span>
        </div>

        <div class="card-body">
          <p class="description">{{ item.description }}</p>
          <div class="finance-details">
            <div class="detail-item">
              <span class="label">Тип:</span>
              <span class="value">{{ getTypeValue(item.type) }}</span>
            </div>
            <div class="detail-item">
              <span class="label">Сума:</span>
              <span class="amount" [ngClass]="getTypeClass(item.type)">
                {{ getTypeSign(item.type) }} {{ item.amount | number:'1.2-2' }} лв.
              </span>
            </div>
          </div>
        </div>

        <div class="card-actions">
          <a class="btn btn-view" [routerLink]="['/finances', item.id]">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none">
              <path d="M1 12S5 4 12 4S23 12 23 12S19 20 12 20S1 12 1 12Z" stroke="currentColor" stroke-width="2" />
              <circle cx="12" cy="12" r="3" stroke="currentColor" stroke-width="2" />
            </svg>
            Преглед
          </a>
          @if (isCreator(item)) {
          <button class="btn btn-edit" [attr.data-id]="item.id">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none">
              <path d="M11 4H4A2 2 0 0 0 2 6V20A2 2 0 0 0 4 22H18A2 2 0 0 0 20 20V13" stroke="currentColor"
                stroke-width="2" />
              <path d="M18.5 2.5A2.121 2.121 0 0 1 21 5L11 15H8V12L18.5 2.5Z" stroke="currentColor" stroke-width="2" />
            </svg>
            Редактиране
          </button>
          }
        </div>

      </div>
      }
    </div>

    <app-page-navigation 
      [totalCount]="totalCount()" 
      [totalPages]="totalPages()" 
      [page]="page()"
      (setPageNumber)="setPage($event)">
    </app-page-navigation>
    }
    @else {
    <p>Няма резултати.</p>
    }



    }

  </div>
</section>