<div class="admin-users-management">
  <h1>Управление на потребители</h1>
  <p>Управление на потребители, роли и статус</p>
  
  <div class="management-actions">
    <button class="btn-primary">Добави</button>
  </div>
  
  <div class="admin-users-table">
    <table>
      <thead>
        <tr>
          <th>Първо име</th>
          <th>Фамилия</th>
          <th>Имейл</th>
          <th>Роля</th>
          <th>Описание</th>
          <th>Снимка</th>
          <th>Действия</th>
        </tr>
      </thead>
      @if (loading()) {
        <tbody>
          <tr>
            <td colspan="6">Зареждане...</td>
          </tr>
        </tbody>
      } @else {
        <tbody>
          @for (user of users(); track user.id) {
            <tr>
              <td><img [src]="user.imageUrl" alt="User Image" /></td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.familyRoleValue }}</td>
              <td>{{ user.description }}</td>
              <td>
                <div class="action-buttons">
                  <button class="btn-edit">Edit</button>
                  <button class="btn-delete">Delete</button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      }
    </table>
  </div>
</div>
