<div class="families-management">
  <h1>Управление на семейства</h1>
  <p>Управление на семейства, членове и статус</p>
  
  <div class="management-actions">
    <button class="btn-primary">Добави ново</button>
    <button class="btn-secondary">Експорт</button>
  </div>
  
  <div class="families-table">
    <table>
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Описание</th>
          <th>Действия</th>
        </tr>
      </thead>
      @if (loading()) {
        <tbody>
          <tr>
            <td colspan="6">Зареждане...</td>
          </tr>
        </tbody>
      } @else {
        <tbody>
          @for (family of families(); track family.id) {
            <tr>
              <td>{{ family.name }}</td>
              <td>{{ family.description }}</td>
              <td>
                <div class="action-buttons">
                  <button class="btn-edit">Edit</button>
                  <button class="btn-delete">Delete</button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      }

    </table>
  </div>
</div>
