<section id="user-profile" class="form-section">
    <div class="container">

        <div class="section-header">
            <h2 class="gradient-text">Финансово движение</h2>
            <p>Въведете вашето финансово движение</p> 
        </div>
        <div class="form-container">

            @if (loading()) {
                <p>Зареждане...</p>
            }
            @else {
            <form class="contact-form" [formGroup]="createFinanceForm" (ngSubmit)="onSubmit()">

                @if (errorMessage()) {
                    <app-error-message [errorMessage]="errorMessage()" (onClose)="onErrorClose()" />                
                }
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="create-finance-title">Заглавие</label>
                        <input type="text" id="create-finance-title" formControlName="title" 
                            [class.error]="createFinanceForm.get('title')?.invalid && createFinanceForm.get('title')?.touched" />
                        @if (createFinanceForm.get('title')?.invalid && createFinanceForm.get('title')?.touched) {
                            <div class="validator-error-message">
                                @if (createFinanceForm.get('title')?.errors?.['required']) {
                                    <small>Заглавието е задължително</small>
                                }
                                @if (createFinanceForm.get('title')?.errors?.['minlength']) {
                                    <small>Заглавието трябва да е поне 2 символа</small>
                                }
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label for="create-finance-type">Вид</label>
                        @if (!!types() && types()!.length > 0) {
                            <select id="user-profile-type" formControlName="type"
                                [class.error]="createFinanceForm.get('type')?.invalid && createFinanceForm.get('type')?.touched">
                                <option value="" disabled selected>Изберете тип</option>
                                @for (type of types(); track type.id) {
                                    <option [value]="type.id">{{ type.value }}</option>
                                }
                            </select>
                        } @else {
                        <div>Зареждане на типове...</div>
                        }
                        @if (createFinanceForm.get('type')?.invalid && createFinanceForm.get('type')?.touched) {
                            <div class="validator-error-message">
                                <small>Видът е задължителен</small>
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label for="create-finance-description">Описание</label>
                    <textarea type="text" id="create-finance-description" formControlName="description" rows="3"
                        [class.error]="createFinanceForm.get('description')?.invalid && createFinanceForm.get('description')?.touched"></textarea>
                    @if (createFinanceForm.get('description')?.invalid && createFinanceForm.get('description')?.touched) {
                        <div class="validator-error-message">
                            @if (createFinanceForm.get('description')?.errors?.['required']) {
                                <small>Описанието е задължително</small>
                            }
                            @if (createFinanceForm.get('description')?.errors?.['minlength']) {
                                <small>Описанието трябва да е поне 5 символа</small>
                            }
                        </div>
                    }
                </div>

                <div class="form-group">
                    <label for="create-finance-categoryId">Категория</label>
                    @if (!!categories() && categories()!.length > 0) {
                        <select id="user-profile-categoryId" formControlName="categoryId"
                            [class.error]="createFinanceForm.get('categoryId')?.invalid && createFinanceForm.get('categoryId')?.touched">
                            <option value="" disabled selected>Изберете категория</option>
                            @for (category of categories(); track category.id) {
                                <option [value]="category.id">{{ category.name }}</option>
                            }
                        </select>
                    } @else {
                    <div>Зареждане на категории...</div>
                    }
                    @if (createFinanceForm.get('categoryId')?.invalid && createFinanceForm.get('categoryId')?.touched) {
                        <div class="validator-error-message">
                            <small>Категорията е задължителна</small>
                        </div>
                    }
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="create-finance-amount">Сума</label>
                        <input type="number" id="create-finance-amount" formControlName="amount" step="0.01"
                            [class.error]="createFinanceForm.get('amount')?.invalid && createFinanceForm.get('amount')?.touched" />
                        @if (createFinanceForm.get('amount')?.invalid && createFinanceForm.get('amount')?.touched) {
                            <div class="validator-error-message">
                                @if (createFinanceForm.get('amount')?.errors?.['required']) {
                                    <small>Сумата е задължителна</small>
                                }
                                @if (createFinanceForm.get('amount')?.errors?.['min']) {
                                    <small>Сумата трябва да е по-голяма от 0</small>
                                }
                            </div>
                        }
                    </div>

                    <div class="form-group">
                        <label for="user-profile-date">Дата</label>
                        <input type="date" id="user-profile-date" formControlName="date"
                            [class.error]="createFinanceForm.get('date')?.invalid && createFinanceForm.get('date')?.touched" />
                        @if (createFinanceForm.get('date')?.invalid && createFinanceForm.get('date')?.touched) {
                            <div class="validator-error-message">
                                <small>Датата е задължителна</small>
                            </div>
                        }
                    </div>
                </div>


                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" [disabled]="!isFormValid">Запази</button>
                </div>
            </form>
            }
        </div>
    </div>
</section>
