<section id="register" class="form-section">
  <div class="container">
    <div class="section-header">
      <h2 class="gradient-text">Регистрация</h2>
      <p>Създайте нов акаунт за достъп до нашите услуги</p>
    </div>
    <div class="form-container">
      @if (loading()) {
      <app-smart-loader 
        [loading]="loading()" 
        [message]="'Регистриране на потребител...'" 
        [minDuration]="300" />
      }
      @else {
      @if (errorMessage()) {
      <app-error-message 
        [errorMessage]="errorMessage()" 
        (close)="closeError()" />
      }
      <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
          <div class="form-group">
            <label for="register-firstName">Първо име</label>
            <input type="text" id="register-firstName" formControlName="firstName"
              [class.error]="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
            @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
              <div class="validator-error-message">
                @if (registerForm.get('firstName')?.errors?.['required']) {
                  <small>Първото име е задължително.</small>
                }
                @if (registerForm.get('firstName')?.errors?.['minlength']) {
                  <small>Първото име трябва да е поне 3 символа.</small>
                }
                @if (registerForm.get('firstName')?.errors?.['maxlength']) {
                  <small>Първото име не може да е по-дълго от 64 символа.</small>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label for="register-lastName">Фамилия</label>
            <input type="text" id="register-lastName" formControlName="lastName"
              [class.error]="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">
            @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
              <div class="validator-error-message">
                @if (registerForm.get('lastName')?.errors?.['required']) {
                  <small>Фамилията е задължителна.</small>
                }
                @if (registerForm.get('lastName')?.errors?.['minlength']) {
                  <small>Фамилията трябва да е поне 3 символа.</small>
                }
                @if (registerForm.get('lastName')?.errors?.['maxlength']) {
                  <small>Фамилията не може да е по-дълга от 64 символа.</small>
                }
              </div>
            }
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="register-password">Парола</label>
            <input type="password" id="register-password" formControlName="password"
              [class.error]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
              (input)="checkPasswordMatch()">
            @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
              <div class="validator-error-message">
                @if (registerForm.get('password')?.errors?.['required']) {
                  <small>Паролата е задължителна.</small>
                }
                @if (registerForm.get('password')?.errors?.['minlength']) {
                  <small>Паролата трябва да е поне 4 символа.</small>
                }
                @if (registerForm.get('password')?.errors?.['maxlength']) {
                  <small>Паролата не може да е по-дълга от 16 символа.</small>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label for="register-confirm">Повтори парола</label>
            <input type="password" id="register-confirm" formControlName="confirmPassword"
              [class.error]="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
              [class.success]="passwordsMatch() && registerForm.get('confirmPassword')?.value"
              (input)="checkPasswordMatch()">
            @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
              <div class="validator-error-message">
                @if (registerForm.get('confirmPassword')?.errors?.['required']) {
                  <small>Повторете паролата е задължителна.</small>
                }
                @if (registerForm.get('confirmPassword')?.errors?.['minlength']) {
                  <small>Повторете паролата трябва да е поне 4 символа.</small>
                }
                @if (registerForm.get('confirmPassword')?.errors?.['maxlength']) {
                  <small>Повторете паролата не може да е по-дълга от 16 символа.</small>
                }
                @if (!passwordsMatch() && registerForm.get('confirmPassword')?.touched) {
                  <small>Паролите не съвпадат.</small>
                }
              </div>  
            }
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="register-email">Имейл адрес</label>
            <input type="email" id="register-email" formControlName="email"
              [class.error]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
              <div class="validator-error-message">
                @if (registerForm.get('email')?.errors?.['required']) {
                  <small>Имейл адресът е задължителен.</small>
                }
                @if (registerForm.get('email')?.errors?.['email']) {
                  <small>Невалиден имейл формат.</small>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label for="register-familyRole">Роля в семейството</label>
            <select id="register-familyRole" formControlName="familyRole"
                    [class.error]="registerForm.get('familyRole')?.invalid && registerForm.get('familyRole')?.touched">
              <option value="" disabled selected>Избери роля в семейството</option>
              @for (role of familyRoleOptions(); track role.value) {
                <option [value]="role.value">{{ role.label }}</option>
              }
            </select>
            @if (registerForm.get('familyRole')?.invalid && registerForm.get('familyRole')?.touched) {
              <div class="validator-error-message">
                @if (registerForm.get('familyRole')?.errors?.['required']) {
                  <small>Ролята в семейството е задължителна.</small>
                }
              </div>
            }
          </div>
        </div>

        <div class="form-group">
          <label for="register-description">Описание</label>
          <textarea id="register-description" formControlName="description" rows="3"
            [class.error]="registerForm.get('description')?.invalid && registerForm.get('description')?.touched">
            </textarea>
          @if (registerForm.get('description')?.invalid && registerForm.get('description')?.touched) {
            <div class="validator-error-message">
              @if (registerForm.get('description')?.errors?.['required']) {
                <small>Описание е задължително.</small>
              }
              @if (registerForm.get('description')?.errors?.['minlength']) {
                <small>Описание трябва да е поне 10 символа.</small>
              }
              @if (registerForm.get('description')?.errors?.['maxlength']) {
                <small>Описание не може да е по-дълго от 256 символа.</small>
              }
            </div>
          }
        </div>

        <div class="form-group">
          <label for="profile-image">Профилна снимка</label>
          <div class="file-upload">
            <input type="file" id="profile-image" accept="image/*" (change)="onFileChange($event)">
            <label for="profile-image" class="file-label" [class.has-file]="fileName()">
              <span class="upload-icon">📷</span>
              <span class="upload-text">{{ fileName() || 'Избери снимка' }}</span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="register-familyId">Семейство</label>
          @if (!!families() && families()!.length > 0) {
            <select id="register-familyId" formControlName="familyId"
                    [class.error]="registerForm.get('familyId')?.invalid && registerForm.get('familyId')?.touched">
              <option value="" disabled selected>Избери семейството</option>
              @for (role of families(); track role.id) {
                <option [value]="role.id">{{ role.name }}</option>
              }
            </select>
          } @else {
            <div>Зареждане на роли...</div>
          }
          @if (registerForm.get('familyId')?.invalid && registerForm.get('familyId')?.touched) {
            <div class="validator-error-message">
              @if (registerForm.get('familyfamilyIdRole')?.errors?.['required']) {
                <small>Семейството е задължително.</small>
              }
            </div>
          }
        </div>

        <div class="form-group checkbox-group">
          <label class="checkbox-label">
            <input type="checkbox" formControlName="terms">
            <span class="checkmark"></span>
            Съгласен съм с <a href="#" class="link" (click)="$event.preventDefault()">условията за ползване</a>
          </label>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" [disabled]="loading()">
            {{ buttonText() }}
          </button>
        </div>
      </form>
      }
    </div>
  </div>
</section>